* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #212529;
}

main {
  padding: 5rem;
}

main > .color > h2 {
  color: #fff;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  padding: 1rem;
  font-weight: 900;
  color: #fff;
}

.color {
  border: 1px solid #fff;
  border-radius: 5px;
}

.color > h2 {
  text-decoration: double;
}

.detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.colorBloc {
  width: 10rem;
  margin: 0.7rem;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1.5rem;
}

.colorBloc:hover {
  font-size: 2rem;
  box-shadow: 10 10px 10px rgba(100, 10, 10, 0.7),
    10px 10px 10px rgba(100, 10, 10, 0.9);
  transform: scale(1.17);
  transition: all 0.4s;
}

.colorBloc div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  color: #fff;
}

.blue {
  background-color: #2176ff;
}

.bluetwo {
  background-color: #1f6feb;
}

.yellow {
  background-color: #f0a30e;
}

.blueBlack {
  background-color: #212529;
}

.blueBlacktwo {
  background-color: #29233f;
}

.black {
  background-color: #010409;
}

.blackTwo {
  background-color: #0d1117;
}

.redoux {
  background-color: #d92950;
}

.vert {
  background-color: #448000;
}

.violet {
  background-color: #7601d3;
}

.gris {
  background-color: #e2e8f0;
}

.pink {
  background-color: #fff0e5;
}
